:root {
    --number: 4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    height: 100vh;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

h1 {
    text-align: center;
    padding: 15px 0;
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    'content content'
    'description control';
    row-gap: 1rem;
}

.slider-wrapper > input {
    display: none;
}

.slider-wrapper-image,
.slider-wrapper-text {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.slider-wrapper-image {
    grid-area: content;
}

.slider-image,
.slider-text {
    display: flex;
    width: 100% * var(--number);
    height: 100%;
    transition: transform 1s ease;
}

.slider-image .slide {
    display: inline-block;
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    background-size: cover;
    background-position: center center;
    border-radius: 1rem;
}

.slider-image .slide-1 {
    background-image: url('./assets/img1.jpg');
}

.slider-image .slide-2 {
    background-image: url('./assets/img2.jpg');
}

.slider-image .slide-3 {
    background-image: url('./assets/img3.jpg');
}

.slider-image .slide-4 {
    background-image: url('./assets/img4.jpg');
}

.slider-image .slide-5 {
    background-image: url('./assets/img5.jpg');
}

.slider-image .slide-6 {
    background-image: url('./assets/img6.jpg');
}

.slider-image .slide-7 {
    background-image: url('./assets/img7.jpg');
}

.slider-wrapper-text {
    grid-area: description;
}

.slider-text .slide {
    display: inline-block;
    height: 100%;
    width: 1000px;
    padding-right: 11rem;
    font-size: 20px;
    padding-left: 10px;
}

.slider-buttons {
    display: flex;
    justify-content: space-around;
    grid-area: control;
    padding-right: 10px;
}

.slider-buttons label {
    position: relative;
    display: inline-block;
    padding: 1.4rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.slider-buttons label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid #4682B4;
    transition: all 0.5s ease-out;
}

.slider-buttons label:hover::before {
    background-color: #4682B4;
}

#but1:checked ~ .slider-wrapper-image .slider-image,
#but1:checked ~ .slider-wrapper-text .slider-text {
  transform: translateX(0);
}

#but2:checked ~ .slider-wrapper-image .slider-image,
#but2:checked ~ .slider-wrapper-text .slider-text {
  transform: translateX(-1000px);
}

#but3:checked ~ .slider-wrapper-image .slider-image,
#but3:checked ~ .slider-wrapper-text .slider-text {
  transform: translateX(-2000px);
}

#but4:checked ~ .slider-wrapper-image .slider-image,
#but4:checked ~ .slider-wrapper-text .slider-text {
  transform: translateX(-3000px);
}

#but5:checked ~ .slider-wrapper-image .slider-image,
#but5:checked ~ .slider-wrapper-text .slider-text {
  transform: translateX(-4000px);
}

#but6:checked ~ .slider-wrapper-image .slider-image,
#but6:checked ~ .slider-wrapper-text .slider-text {
  transform: translateX(-5000px);
}

#but7:checked ~ .slider-wrapper-image .slider-image,
#but7:checked ~ .slider-wrapper-text .slider-text {
  transform: translateX(-6000px);
}

#but1:checked ~ .slider-buttons .slider-button-1::before {
    background-color: #4682B4;
}


#but2:checked ~ .slider-buttons .slider-button-2::before {
    background-color: #4682B4;
}

#but3:checked ~ .slider-buttons .slider-button-3::before {
    background-color: #4682B4;
}

#but4:checked ~ .slider-buttons .slider-button-4::before {
    background-color: #4682B4;
}

#but5:checked ~ .slider-buttons .slider-button-5::before {
    background-color: #4682B4;
}

#but6:checked ~ .slider-buttons .slider-button-6::before {
    background-color: #4682B4;
}

#but7:checked ~ .slider-buttons .slider-button-7::before {
    background-color: #4682B4;
}



@media screen and (max-width: 720px) {
    html {
      font-size: 8px;
    }
    .slider-wrapper {
      grid-template-rows: 3fr 40px 40px;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      grid-template-areas:
        'content'
        'control'
        'description';
    }

    .slider-buttons {
      justify-content: center;
    }
    .slider-buttons label {
      margin-right: 1.2rem;
    }
    .slider-buttons label:last-of-type {
      margin-right: 0;
    }
    .slider-text .slide {
      text-align: center;
      padding: 0;
    }
    .slider-buttons label::before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }